
<p>
  <strong>Ep number:</strong>
  <%= @episode.ep_number %>
</p>

<p>
  <strong>Ep title:</strong>
  <%= @episode.ep_title %>
</p>

<p>
  <strong>Ep plot:</strong>
  <%= @episode.ep_plot %>
</p>

<p>
  <strong>Ep time:</strong>
  <%= @episode.ep_time %>
</p>

<p>
  <strong>Ep date:</strong>
  <%= @episode.ep_date %>
</p>

<p>
  <strong>Ep broadcast:</strong>
  <%= @episode.ep_broadcast %>
</p>

<%= link_to 'Back', movie_path(@movie) %>
