<h1>Calender#index</h1>
<p>Find me in app/views/calender/index.html.erb</p>

<% @all_eps.each do |ep| %>
    <% if ep.ep_date == @today.strftime("%Y-%m-%d") %>
    Today is: <%= @today %>
    <p><%= ep.ep_title %></p>
    <p>_____________________________________________________</p>
    <% elsif ep.ep_date == @yesterday.strftime("%Y-%m-%d") %>
    Yesterday is: <%= @yesterday %>
    <p><%= ep.ep_title %></p>
    <p>_____________________________________________________</p>
     <% elsif  ep.ep_date == @tomorrow.strftime("%Y-%m-%d") %>
    Tommorrow is: <%= @tomorrow %>
    <p><%= ep.ep_title  %></p>
    <p>_____________________________________________________</p>
    <% end %>
<% end %>