<% if @movies.empty? %>
  <h1>Add at least one of your favorite shows to update your Calender!</h1>
<% else %>
  <div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <% for i in 0..3 %>
      <li role="presentation"><a href="#<%= 5-i %>daysago" aria-controls="5daysago" role="tab" data-toggle="tab"><%= 5-i %> days ago</a></li>
    <% end %>
    <li role="presentation"><a href="#yesterday" aria-controls="yesterday" role="tab" data-toggle="tab">Yesterday</a></li>
    <li role="presentation" class="active"><a href="#today" aria-controls="today" role="tab" data-toggle="tab">Today</a></li>
    <li role="presentation"><a href="#tomorrow" aria-controls="tomorrow" role="tab" data-toggle="tab">Tomorrow</a></li>
    <% for i in 2..5 %>
      <li role="presentation"><a href="#in<%= i %>days" aria-controls="in2days" role="tab" data-toggle="tab">in <%= i %> days</a></li>
    <% end %>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <% for i in -5..-2 %>    
      <div role="tabpanel" class="tab-pane fade" id="<%= 0-i %>daysago">
        <h1 class="page-header"><span class="glyphicon glyphicon-film" aria-hidden="true"></span> <%= @days.at(i+5).strftime("%Y-%m-%d") %></h1>
        <% if @eps_hash[i].empty? %>
          <h2>No Shows</h2>
        <% else %>
        <div class="row">
            <% @eps_hash[i].each do |ep| %>
              <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="thumbnail">
                  <img src="<%= Movie.find(ep.movie_id).image %>" alt="...">
                  <div class="caption">
                    <h3><%= ep.ep_number %></h3> 
                    <h4><%= Movie.find(ep.movie_id).title %></h4>
                    <p><%= ep.ep_time %> on <%= ep.ep_broadcast %></p>
                  </div>
                </div>
              </div>
            <% end %>
        </div>
        <% end %>
      </div>
    <% end %>    
    
    <div role="tabpanel" class="tab-pane fade" id="yesterday">
      <h1 class="page-header"><span class="glyphicon glyphicon-film" aria-hidden="true"></span> <%= @days.at(4).strftime("%Y-%m-%d") %></h1>
      <% if @eps_hash[-1].empty? %>
        <h2>No Shows</h2>
      <% else %>
      <div class="row">
        <% @eps_hash[-1].each do |ep| %>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
            <div class="thumbnail">
              <img src="<%= Movie.find(ep.movie_id).image %>" alt="...">
              <div class="caption">
                <h3><%= ep.ep_number %></h3> 
                <h4><%= Movie.find(ep.movie_id).title %></h4>
                <p><%= ep.ep_time %> on <%= ep.ep_broadcast %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div> 
      <% end %>
    </div>
    
    <div role="tabpanel" class="tab-pane fade in active" id="today">
      <h1 class="page-header"><span class="glyphicon glyphicon-film" aria-hidden="true"></span> <%= @today.strftime("%Y-%m-%d") %></h1>
      <% if @eps_hash[0].empty? %>
        <h2>No Shows</h2>
      <% else %>
      <div class="row">
        <% @eps_hash[0].each do |ep| %>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
            <div class="thumbnail">
              <img src="<%= Movie.find(ep.movie_id).image %>" alt="...">
              <div class="caption">
               <h3><%= ep.ep_number %></h3> 
                <h4><%= Movie.find(ep.movie_id).title %></h4>
                <p><%= ep.ep_time %> on <%= ep.ep_broadcast %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <% end %>
    </div>
    
    <div role="tabpanel" class="tab-pane fade" id="tomorrow">
      <h1 class="page-header"><span class="glyphicon glyphicon-film" aria-hidden="true"></span> <%= @days.at(6).strftime("%Y-%m-%d") %></h1>
      <% if @eps_hash[1].empty? %>
        <h2>No Shows</h2>
      <% else %>
      <div class="row">
        <% @eps_hash[1].each do |ep| %>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
            <div class="thumbnail">
              <img src="<%= Movie.find(ep.movie_id).image %>" alt="...">
              <div class="caption">
                <h3><%= ep.ep_number %></h3> 
                <h4><%= Movie.find(ep.movie_id).title %></h4>
                <p><%= ep.ep_time %> on <%= ep.ep_broadcast %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <% end %>
    </div>
    
    <% for i in 2..5 %>
      <div role="tabpanel" class="tab-pane fade" id="in<%= i %>days">
        <h1 class="page-header"><span class="glyphicon glyphicon-film" aria-hidden="true"></span> <%= @days.at(i+5).strftime("%Y-%m-%d") %></h1>
        <% if @eps_hash[i].empty? %>
          <h2>No Shows</h2>
        <% else %>
        <div class="row">
            <% @eps_hash[i].each do |ep| %>
              <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="thumbnail">
                  <img src="<%= Movie.find(ep.movie_id).image %>" alt="...">
                  <div class="caption">
                    <h3><%= ep.ep_number %></h3> 
                    <h4><%= Movie.find(ep.movie_id).title %></h4>
                    <p><%= ep.ep_time %> on <%= ep.ep_broadcast %></p>
                  </div>
                </div>
              </div>
            <% end %>
        </div> 
        <% end %>
      </div>
    <% end %>
  </div>

  </div>
<% end %>