<!DOCTYPE html>
<html>
  <head>
    <title>Bolt Movie Database</title>
    <link href='http://fonts.googleapis.com/css?family=Oxygen:300,400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>  
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    
   <% if user_signed_in? %>  
   <div class="container-fluid"> 
    <div class="row" style="">
      
      <div class="col-sm-3 col-md-2" style="height: 4000px; background-color: #b3b3b3; ">
        <br>
        <ul class="nav nav-sidebar" style="margin-top :50px; position: fixed;  ">
          <li><a href="/movies">Movies </a></li>
          <li><a href="/actors">Actors</a></li>
          <li><a href="/">Explore</a></li>
          <li>__________________________________</li>
          <br>
          <li>Signed in as <%= current_user.email %></li>
          <li><a href="<%= user_profiles_path(current_user) %>">Profile</a></li>
          <li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete  %></li>
        </ul>
      </div>
      
      <%= yield %>
      
     </div>
   </div>
   <% else %>
     <%= yield %>
   <% end %>
   
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

  </body>
</html>